/*for tappable element easy to hit minimum width and height should be 40px or 48px for better*/

button {
    min-width: 48px;
    min-height: 48px;
    cursor: pointer;
}


/*tag a default display is inline, not effected by min-width or min-height*/

nav a {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    /*padding-left: 8px;
    padding-right: 8px;*/
}

body {
  background-color: green;
}

@media screen and (max-width: 400px) {
  body {
    background-color: red;
  }
}

@media screen and (min-width: 600px) {
  body {
    background-color: blue;
  }
}
